/** ─── Propriedades Customizadas ────────────────────────────────────────────────────────────────────────── */

:root {
    /*? color-text */
    --cl-tx-blue-main: #1d5fdb;
    --cl-tx-grey-blue-subtle: #637180;

    /*? color-background */
    --cl-bg-blue-main: #1d5fdb;
    
    /*? size-pixel */
    --size-px-1: 12px;
    --size-px-2: 13px;
    --size-px-3: 14px;
    --size-px-4: 54px;
}

/** ─── Classes Customizadas ────────────────────────────────────────────────────────────────────────── */

/* font-sizes */
.fs-12 { font-size: var(--size-px-1); }
.fs-13 { font-size: var(--size-px-2); }
.fs-14 { font-size: var(--size-px-3); }
.fs-54 { font-size: var(--size-px-4); }

/** ─── Estilos Globais ────────────────────────────────────────────────────────────────────────── */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif !important;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.custom-tooltip {
    --bs-tooltip-bg: var(--cl-bg-blue-main);
    --bs-tooltip-color: var(--bs-white);
}

/** ─── Componentes ────────────────────────────────────────────────────────────────────────── */

/*? ─── Navbar ───────────────────────────────────── */
.link-nav-1 {
    transition: 0.2s !important;
    font-weight: 600 !important;
}
.link-nav-1:hover {
    color: var(--cl-tx-blue-main) !important;
}

/*? ─── Buttons ───────────────────────────────────── */

/* button-1 */
.btn-1 {
    background-color: var(--cl-bg-blue-main);
    color: white;
    font-weight: 600;
    border: none;
    padding: 0.4rem;
    box-shadow: 0 5px 0 #1c3768;
    transition: 0.1s;
}
.btn-1:hover { /*hover*/
    background-color: #1969ff;
}
.btn-1:active { /*active*/
    box-shadow: none;
    transform: translateY(5px);
}

/*? ─── Links ───────────────────────────────────── */

/* navbar-link-main */
.nav-link-main {
    transition: 0.3s;
}
.nav-link-main:hover {
    transform: translateX(-3px);
}

/* link-1 */
.link-1 {
    font-weight: 600;
    text-decoration: none;
    transition: 0.1s;
    color: var(--cl-tx-grey-blue-subtle);
}
.link-1:hover { /*hover*/
    color: var(--cl-tx-blue-main);
}

/*? ─── Icons ───────────────────────────────────── */

/* navbar-main-icon */
.nav-main-icon {
    transition: 0.3s;
}
.nav-link-main:hover .nav-main-icon {
    transform: translateX(-3px) rotate(-10deg);
}

/** ─── Responsividade ────────────────────────────────────────────────────────────────────────── */

@media (max-width: 1199px) {
    .div-contact-form form {
        width: 100% !important;
    }
}

@media (max-width: 991px) {
    .div-contact-img {
        display: none;
    }
    .div-contact-form {
        display: grid;
        justify-content: center;
        padding: 0.5rem;
    }
}